body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fffbe6, #f9f9f9);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    transition:background 0.3s ease;
}





header {
    background-color: #ffeeba;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header img {
    width: 100px;
    transition: transform 0.3s;
}

header img:hover {
    transform: scale(1.1);
}

header h1 {
    color: #ff8800;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

header p {
    font-style: italic;
    color: #555;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff8800;
}


main {
    padding: 20px;
}

main div {
    background-color: #fff;
    margin: 20px auto;
    padding: 15px;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

main div:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

main img {
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
}


.team p b {
    color: #ff8800;
}


footer {
    background-color: #333;
    color: white;
    padding: 15px;
    margin-top: 30px;
}

footer a {
    color: #ffcc66;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}
